@import 'tailwindcss';
@import './movies.css';
@import './main.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Netflix-style colors */
    --color-netflix-red: #e50914;
    --color-netflix-black: #141414;
    --color-netflix-dark-gray: #1a1a1a;
}
